@import url('https://fonts.googleapis.com/css?family=Numans');

.background{
background-image: url('kids 3 updated 3.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #be9428;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #be9428;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #be9428;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 7%;
    width: 100%;
    background-color: #F5F5DC;
    color: black;
    text-align: left;
 }
 
 .fa {
  position: relative;
   padding: 5px;
   font-size: 18px;
   width: 12px;
   height:20%;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
   border-radius: 50%;
   bottom: 45px; right: 0;
}
 
 .fa:hover {
     opacity: 0.4;
 }
 
 .fa-facebook {
   background: black;
   color: white;
 }
 
 .fa-linkedin {
   background: black;
   color: white;
 }
 
 .fa-twitter {
   background: black;
   color: white;
 }
 
 .fa-instagram {
   background: black;
   color: white;
 }
 
 .social-media {
     position:relative; left: 1380px;
 }
 
 body {
   margin: 0;
 }
 
 .header {
     position: fixed;
     width: 100%;
   background: #F5F5DC;
   color: #f1f1f1;
 }

 .column1 {
  float: left;
  width: 100%;
  padding: 10px;
}

.column2 {
  float: left;
  width: 100%;
  padding: 10px;
  height: 0%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}